@page
@model ToDo.Pages.CRUD.NewTaskModel
@{
}
<h4 class="d-flex justify-content-center">CREATE NEW TASK</h4>
<div class="d-flex justify-content-center">
    <form action="" method="post" class="col-4">
        <div class="mb-3 ">
            <label class="form-label" for="TaskName">Task Name:</label>
            <input type="text" id="TaskName" class="form-control" asp-for="TaskName" />
        </div>
        <div class="mb-3">
            <label class="form-label">Description:</label>
            <textarea class="form-control" asp-for="TaskDescription"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Priority:</label><br />
            <input type="radio" id="Low" asp-for="Priority" value="Low"/>
            <label for="html">Low</label><br>
            <input type="radio" id="Medium" asp-for="Priority" value="Medium"/>
            <label for="html">Medium</label><br>
            <input type="radio" id="High" asp-for="Priority" value="High"/>
            <label for="html">High</label><br>
        </div>
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-dark m-1">Create</button>
            <a class="btn btn-dark m-1 " asp-page="/CRUD/NewTask">Cancel</a>
        </div>
    </form>
</div>