@page "{TaskId:int}"
@model ToDo.Pages.CRUD.UpdateModel
@{
}
<h4 class="d-flex justify-content-center">UPDATE TASK</h4>
<div class="d-flex justify-content-center">
    <form action="" method="post" class="col-4">
        <div class="mb-3 ">
            <label class="form-label" for="TaskName">Task Name:</label>
            <input type="text" id="TaskName" class="form-control" asp-for="NewTaskName" value="@Model.myTask.Task_Name" />
        </div>
        <div class="mb-3">
            <label class="form-label">Description:</label>
            <textarea class="form-control" asp-for="NewTaskDescription" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Priority:</label><br />
            <input type="radio" id="Low" asp-for="NewPriority" value="Low"/>
            <label for="html">Low</label><br>
            <input type="radio" id="Medium" asp-for="NewPriority" value="Medium" />
            <label for="html">Medium</label><br>
            <input type="radio" id="High" asp-for="NewPriority" value="High" />
            <label for="html">High</label><br>
        </div>
        <div class="mb-3">
            <label class="form-label">Status:</label><br />
            <input type="radio" asp-for="NewStatus" value="false" />
            <label>In Process</label><br />
            <input type="radio" asp-for="NewStatus" value="true" />
            <label>Completed</label>
        </div>
        <div class="d-flex justify-content-center ">
            <button type="submit" class="btn btn-dark m-1">Update</button>
            <a class="btn btn-dark m-1 " asp-page="/Index">Cancel</a>
        </div>
    </form>
</div>